

.music {
    width: 100%;
    flex: 1;
    /*font: italic small-caps bold 44px Georgia, sans-serif;*/

}

@media (min-width: 768px) {
    .music {
        display: flex;
        flex-wrap: wrap;
    }
}

.genre {
    width: 100%;
    flex: 1;
    font-size: 1.5rem;
    height: 20%;
    border-radius: 35px;
    padding : 1rem
}

@media (min-width: 768px) {
    .genre {
        /*width: calc(33% - 0.5rem);*/
        /* width: 30%; */
        margin: 0.5rem
    }
}

.genre audio {
    width: 12rem;
}

#pop {
    width: 100%;
    flex: 1;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #pop {
        /* width: 30%; */
    }
}

@media (min-width: 1200px) {
    #pop {
        /* width: 20%; */
    }
}


#hipHop {
    width: 100%;
    flex: 1;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #hipHop {
        /* width: 30%; */
    }
}

@media (min-width: 1200px) {
    #hipHop {
        /* width: 20%; */
    }
}


#funk {
    width: 100%;
    flex: 1;
    background-color: darkorange;
}

@media (min-width: 768px) {
    #funk {
        /* width: 30%; */
    }
}

@media (min-width: 1200px) {
    #funk {
        /* width: 20%; */
    }
}


#reggae {
    width: 100%;
    flex: 1;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #reggae {
        /* width: 30%; */
    }
}

@media (min-width: 1200px) {
    #reggae {
        /* width: 20%; */
    }
}

@media (min-width: 1312px) {
    #reggae {
        background-color: darkorange;
    }
}


#dnb {
    width: 100%;
    flex: 1;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #dnb {
        /* width: 30%; */
    }
}

@media (min-width: 1104px) {
    #dnb {
        background-color: darkorange;
    }
}

@media (min-width: 1200px) {
    #dnb {
        /* width: 20%; */
    }
}


#blues {
    width: 100%;
    flex: 1;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #blues {
        /* width: 30%; */
    }
}

@media (min-width: 1200px) {
    #blues {
        /* width: 20%; */
    }
}


#mantra {
    width: 100%;
    flex: 1;
    background-color: darkgoldenrod;

}

@media (min-width: 768px) {
    #mantra {
        /* width: 30%; */
    }
}

@media (min-width: 896px) {
    #mantra {
        background-color: darkorange;
    }
}


@media (min-width: 1200px) {
    #mantra {
        width: 20%;
        background-color: darkorange;
        /* width: 20%; */
    }
}


@media (min-width: 1312px) {
    #mantra {
        background-color: darkorange;
    }
}

#rnb {
    width: 100%;
    flex: 1;
    background-color: darkorange;
}

@media (min-width: 768px) {
    #rnb {
        /* width: 30%; */
    }
}

@media (min-width: 1200px) {
    #rnb {
        /* width: 20%; */
    }
}


#jazz {
    width: 100%;
    flex: 1;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #jazz {
        /* width: 30%; */
    }
}

@media (min-width: 896px) {
    #jazz {
        background-color: darkorange;
    }
}

@media (min-width: 1104px) {
    #jazz {
        background-color: darkgoldenrod;
    }
}

@media (min-width: 1199px) {
    #jazz {
        background-color: darkgoldenrod;
    }
}

@media (min-width: 1200px) {
    #jazz {
        width: 20%;
        background-color: darkgoldenrod;
        /* width: 20%; */
    }
}


#techno {
    width: 100%;
    flex: 1;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #techno {
        /* width: 30%; */
    }
}

@media (min-width: 1200px) {
    #techno {
        /* width: 20%; */
    }
}


@media (min-width: 1312px) {
    #techno {
        background-color: darkorange;
    }
}


#swing {
    width: 100%;
    flex: 1;
    background-color: darkorange;
}

@media (min-width: 768px) {
    #swing {
        /* width: 30%; */
    }
}

@media (min-width: 896px) {
    #swing {
        background-color: darkgoldenrod;
    }
}

@media (min-width: 1104px) {
    #swing {
        background-color: darkorange;
    }
}

@media (min-width: 1200px) {
    #swing {
        width: 20%;
        background-color: darkorange;
        /* width: 20%; */
    }
}


#house {
    width: 100%;
    flex: 1;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #house {
        /* width: 30%; */
    }
}

@media (min-width: 1200px) {
    #house {
        /* width: 20%; */
    }
}
