.big-button {
    z-index: 11;
    font: italic small-caps bold 28px Georgia, sans-serif;
    background-image: url("../../../public/pozadi/R.jfif");
    cursor: pointer;
    transition: border-color 0.25s;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
}

.big-button:hover {
    border-color: goldenrod;
}

.big-button:focus,
.big-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
