.navigace {
    width: 70%;
    flex: 1;
    margin-bottom: 3rem;
    margin: auto;
}


.menu-list {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;


}

.menu-list li {
    background-image: url("../../../public/pozadi/R.jfif");
    background-size: cover;
    background-repeat:no-repeat ;
    width: 50%;
    border: 2px solid #050503;
    margin: 0.5rem;
    border-radius: 30px;
    font: italic small-caps bold 38px Georgia, sans-serif;
}



.menu-list a {
    width: 100%;
    flex: 1;
    text-decoration: none;
}


.menu-list h1 {
    width: 100%;
    font-size: 2rem;
    color: #132a79;

}