.header {
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM4qbcxp051-y_b24FWnASMK2P8mV0byY4AQ&usqp=CAU");*/
    /*background-repeat: no-repeat;*/
    display: flex;
    align-items: inherit;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 200px;
    height: 100px;
}

.video-container {
    margin-left: 17rem;
    margin-top: 2rem;
}

.image-container {
    display: flex;

}
.avatar {

    background-image: url("https://freefrontend.com/assets/img/css-avatars/avatar-with-cut-off-border-concept.jpg");
}

.image {
    border: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM4qbcxp051-y_b24FWnASMK2P8mV0byY4AQ&usqp=CAU");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position: left;
    width: 100px;
    height: 100px;
}