
.ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;



}

.ring::before
{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #ce2bb3;



}


@keyframes animate1 {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.ring:nth-child(1) {
    position: absolute;
    top: 66.66px;
    animation: animate1 3s linear infinite;
    animation-delay: -4s;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;

}
.ring:nth-child(1)::before
{
    content: '';
    position: absolute;
    top: initial;
    right: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #faf004;
    box-shadow: 0 0 0 5px #fff500, 0 0 0 10px #faf22c, 0 0 0 15px #f5e78e, 0 0 0 15px #fff500

}
@keyframes animate2 {

    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.ring:nth-child(2) {
    animation: animate2 3s linear infinite;
    border-left: 4px solid transparent;
    animation-delay: -3s;
    top: 66.66px;
    border-top: 4px solid transparent;
}

.ring:nth-child(2)::before
{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    right: 12px;
    left:12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #fdb311;
    box-shadow: 0 0 0 5px #fab829, 0 0 0 10px #eebb4d, 0 0 0 15px #efd7a2, 0 0 0 15px #eabf61

}


@keyframes animate3 {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.ring:nth-child(3) {
    position: absolute;
    top: 66.66px;
    animation: animate3 4s linear infinite;
    animation-delay: -3s;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;

}
.ring:nth-child(3)::before
{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    right: 12px;
    left:12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #cf0ffa;
    box-shadow: 0 0 0 5px #c72bea, 0 0 0 10px #d567ee, 0 0 0 15px #d881ec, 0 0 0 15px #cf37f1

}
