

.rings {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}



.ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;



}

.ring::before
{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #ce2bb3;



}


@keyframes animate1 {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.ring:nth-child(1) {
    position: absolute;
    top: 66.66px;
    animation: animate1 3s linear infinite;
    animation-delay: -4s;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;

}
.ring:nth-child(1)::before
{
    content: '';
    position: absolute;
    top: initial;
    right: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #faf004;
    box-shadow: 0 0 0 5px #fff500, 0 0 0 10px #faf22c, 0 0 0 15px #f5e78e, 0 0 0 15px #fff500

}
@keyframes animate2 {

    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.ring:nth-child(2) {
    animation: animate2 3s linear infinite;
    border-left: 4px solid transparent;
    animation-delay: -3s;
    top: 66.66px;
    border-top: 4px solid transparent;
}

.ring:nth-child(2)::before
{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    right: 12px;
    left:12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #0ef6f6;
    box-shadow: 0 0 0 5px #28f1f1, 0 0 0 10px #53efef, 0 0 0 15px #89f5f5, 0 0 0 15px #70f3f3

}


@keyframes animate3 {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.ring:nth-child(3) {
    position: absolute;
    top: 66.66px;
    animation: animate3 4s linear infinite;
    animation-delay: -3s;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;

}
.ring:nth-child(3)::before
{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    right: 12px;
    left:12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #fd1919;
    box-shadow: 0 0 0 5px #f54f4f, 0 0 0 10px #fd7878, 0 0 0 15px #f8b7b7, 0 0 0 15px #ff6767

}
