#root {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: #450b77;
}
.pictures {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
}


@media (min-width: 576px) {
    #root {
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    #root {
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    #root {
        width: 100%;
    }
}

.app {
    width: 100%;
    height: 100%;
}

.navigace {
    width: 100%;
}

.menu-list {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;


}

.menu-list li {
    width: 100%;
    border: 2px solid darkorange;
    margin: 0.5rem;
    border-radius: 10px;
}

.menu-list a {
    width: 100%;

}

.menu-list h1 {
    width: 100%;
    font-size: 2rem;
    color: darkorange;

}

.music {
    width: 100%;
}

@media (min-width: 768px) {
    .music {
        display: flex;
        flex-wrap: wrap;
    }
}

.genre {
    width: 100%;
    font-size: 1.5rem;
    height: 20%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .genre {
        /*width: calc(33% - 0.5rem);*/
        margin: 0.5rem
    }
}

.genre audio {
    width: 12rem;
}

#pop {
    width: 100%;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #pop {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #pop {
        width: 20%;
    }
}


#hipHop {
    width: 100%;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #hipHop {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #hipHop {
        width: 20%;
    }
}





#funk {
    width: 100%;
    background-color: darkorange;
}

@media (min-width: 768px) {
    #funk {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #funk {
        width: 20%;
    }
}


#reggae {
    width: 100%;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #reggae {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #reggae {
        width: 20%;
    }
}


#dnb {
    width: 100%;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #dnb {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #dnb {
        width: 20%;
    }
}



#blues {
    width: 100%;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #blues {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #blues {
        width: 20%;
    }
}



#mantra {
    width: 100%;
    background-color: darkgoldenrod;

}

@media (min-width: 768px) {
    #mantra {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #mantra {
        width: 20%;
        background-color: darkorange;
    }
}


#rnb {
    width: 100%;
    background-color: darkorange;
}

@media (min-width: 768px) {
    #rnb {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #rnb {
        width: 20%;
    }
}


#jazz {
    width: 100%;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #jazz {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #jazz {
        width: 20%;
        background-color: darkorange;
    }
}




#techno {
    width: 100%;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #techno {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #techno {
        width: 20%;
    }
}



#swing {
    width: 100%;
    background-color: darkorange;
}

@media (min-width: 768px) {
    #swing {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #swing {
        width: 20%;
        background-color: darkgoldenrod;
    }
}



#house {
    width: 100%;
    background-color: darkgoldenrod;
}

@media (min-width: 768px) {
    #house {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    #house {
        width: 20%;
    }
}
