#root {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: #1b4161;
    border-left-style: dotted;
    border-right-style: dotted;
border-radius: 30%;


}



@media (min-width: 576px) {
    #root {
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    #root {
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    #root {
        width: 100%;
    }
}

.app {
    width: 100%;
    flex: 1;
    height: 100%;
}






