
.obrazek {
    width: 50%;
    height: auto;
    margin: auto;
}
.obrazek img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.obrazek:hover {transform:scale(2)}

.row {
    display: flex;
}

