.pictures {
    max-width: 1280px;
    width: 60%;
    flex: 3;
    font-size: 1rem;
    padding: 1rem;
    filter: hue-rotate(90deg);
    background-repeat: repeat-x;
}

.obrazek {
    display: flex;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 33.33%;
    padding: 5px;

}

.obrazek img {
    flex: 20%;
    width: 20%;
    height: 50%;
    object-fit: cover;
    padding: 8px;


}

.obrazek:hover {
    transform: scale(3)
}

.row {
    display: flex;
}

